@page "/configuration"

@using Lionk.Notification

<div class="notifyer-list">
    <h3>Notifier List</h3>
    <MudTable Items="notifyers" Hover="true" Elevation="1">
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd>
            </MudTd>
        </RowTemplate>
    </MudTable>
</div>

<div class="channel-list">
    <h3>Channel List</h3>
    <MudTable Items="channels" Hover="true" Elevation="1">
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd>
            </MudTd>
        </RowTemplate>
    </MudTable>
</div>

@code {
    private List<INotifyer> notifyers = new();
    private List<IChannel> channels = new();

    protected override void OnInitialized()
    {
        notifyers = NotificationService.Notifyers.ToList();
        channels = NotificationService.Channels.ToList();
    }
}