@using Lionk.Notification
@using System.Collections.ObjectModel

<MudDialog Style="min-width: 300px;">
    <DialogContent>
        <MudList T="string">
            @foreach (var channel in Channels)
            {
                <MudListItem>
                    <div style="display: flex; justify-content: space-between; align-items: center; height: 30px;">
                        <MudText>@channel.Name</MudText>
                        <MudIconButton Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Primary" />
                    </div>
                </MudListItem>
            }
        </MudList>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [Parameter]
    public ReadOnlyCollection<IChannel> Channels { get; set; } = new List<IChannel>().AsReadOnly();

    [CascadingParameter]
    private MudDialogInstance? MudDialog { get; set; }

    private Dictionary<string, bool> ChannelStates = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        InitializeRoleStates();
    }

    private void InitializeRoleStates()
    {

    }

    private void Cancel() => MudDialog?.Cancel();

    private void Submit() => MudDialog?.Close(DialogResult.Ok(true));
}
