@using Lionk.Notification
@using System.Collections.ObjectModel

<MudDialog Style="min-width: 300px;">
    <DialogContent>
        <MudList T="string">
            @foreach (var channel in NotificationService.Channels)
            {
                <MudListItem>
                    <div style="display: flex; justify-content: space-between; align-items: center; height: 30px;">
                        <MudText>@channel.Name</MudText>
                        <MudSwitch T="bool" Value=ChannelStates[channel.Name] ValueChanged="@(() => OnChannelChanged(channel.Name, ChannelStates[channel.Name]))" Color="Color.Primary" />

                    </div>
                </MudListItem>
            }
        </MudList>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [Parameter]
    public Guid Guid { get; set; }

    [CascadingParameter]
    private MudDialogInstance? MudDialog { get; set; }

    private Dictionary<String, bool> ChannelStates { get; set; } = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        InitializeChannelStates();
    }

    private void InitializeChannelStates()
    {
        foreach (var channel in NotificationService.Channels)
        {
            ChannelStates[channel.Name] = NotificationService.NotifierChannels[Guid].Contains(channel);
        }
    }

    private void OnChannelChanged(string channelName, bool previousChannelState)
    {
        // TODO - Use methods for map or unmap when ready
    }

    private void Cancel() => MudDialog?.Cancel();

    private void Submit() => MudDialog?.Close(DialogResult.Ok(true));
}
