@page "/floatingButton"
@rendermode InteractiveServer

<a href="#" class="float" @onclick="OnButtonClick">
    <span class="my-float">+</span>
</a>

<style>
    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #1b2a4e;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 3px #999;
        font-size: 24px;
        line-height: 60px;
        transition: background-color 0.3s;
    }

        .float:hover {
            background-color: #3f2052;
            color: #FFF;
        }

    .my-float {
        margin-top: 0;
        display: inline-block;
        vertical-align: middle;
    }
</style>

@code {
    private void OnButtonClick()
    {
        Console.WriteLine("Bouton flottant cliqué !");
    }
}