
header{
    background-color: black;
    text-align: left;
    color: white;
    background-image: url('img/img.webp');
    background-size: cover;
    background-position: center ;
    background-position:left;
}

.lead{
    text-align: justify;
}

.navbar {
    background-color: black;
    color: white;
    text-decoration: none;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.navbar-brand {
    color: white;
    text-decoration: none;
}

.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: solid 3px rgba(221, 221, 221, 0.849);
}

.profile {
    margin-bottom: 4em;
}
