@using Lionk.Core
@implements Lionk.Core.Component.IComponent
@attribute [NamedElement("WeatherForcast", "A component that shows the weather forcast")]
<h3>Weather</h3>

@code {

    public string? InstanceName { get; set; }

}
