<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LionkApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <img src="icons/house-fill.svg" alt="Home" class="nav-menu-icon">
                Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="notifications">
                <img src="icons/bell-fill.svg" alt="Notifications" class="nav-menu-icon">
                Notiifcations
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="plugins">
                <img src="icons/box-fill.svg" alt="Plugins" class="nav-menu-icon">
                Plugins
            </NavLink>
        </div>
    </nav>
</div>

