@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject LionkPalette Palette

<MudThemeProvider Theme="@Theme" IsDarkMode="IsDarkMode"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Elevation="10">
        <MudText Typo="Typo.h5" Class="ml-3">Lionk</MudText>
        <MudSpacer/>
        <MudIconButton Icon="@Icons.Material.Filled.Login" Color="Color.Primary" OnClick="OnLoginPressed"/>
        <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle"/>
    </MudAppBar>
    <MudMainContent Class="mt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private MudTheme? Theme;

    private bool IsDarkMode = true;

    public string _userName = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Theme = new MudTheme { PaletteLight = Palette.LightPalette, PaletteDark = Palette.DarkPalette, LayoutProperties = new LayoutProperties() };
    }

    private void DarkModeToggle()
    {
        IsDarkMode = !IsDarkMode;
    }

    public string DarkLightModeButtonIcon =>
        IsDarkMode switch
        {
            true => Icons.Material.Rounded.LightMode,
            false => Icons.Material.Outlined.DarkMode,
        };

    private void OnLoginPressed()
    {
        NavManager.NavigateTo("/auth");
    }

}